<head>
<%- partial('partial/metadata', {
    config: config,
    theme: theme,
    title: config.title + ' > ' + page.category,
    canonical: page.path
  }) -%>
<%- partial('partial/pre_body_scripts') -%>
</head>
<body class="category">
  <header>
    <%- partial('partial/home_button', {}, {cached: true}) -%>
    <h1><%- page.category -%></h1>
    <%- partial('partial/theme_switcher', {}, {cached: true}) -%>
  </header>
  <%- partial('partial/category_list') -%>
  <%- partial('partial/post_list') -%>
  <%- partial('partial/list_footer', {}, {cached: true}) -%>
  <%- partial('partial/post_body_scripts') -%>
</body>
