<body class="homepage">
  <header>
    <div class="title">
      <h1><span class="darker">ALESSIA</span> SORBO</h1>
      <h2>Writing <span class="lighter">About</span> Things</h2>
    </div>
    <a class="down" href="#posts" rel="nofollow"></a>
    <label class="theme-switcher">
      <input type="checkbox">
    </label>
  </header>
  <a name="posts"></a>
  <ul class="posts">
  <% var page_size = 5;
    page.posts.each(function (post, index) {
      if (index !== 0 && index % page_size === 0) { -%>
    <noscript>
  <%  } -%>
    <li class="post">
      <a class="cover" href="<%= url_for(post.link || post.path) %>" title="<%= post.title %>">
        <img src="<%= post.featured_image %>">
      </a>
      <div class="details">
        <p><%= date(post.date) %></p>
        <h3 class="title">
          <a href="<%= url_for(post.link || post.path) %>" title="<%= post.title %>">
            <%= post.title %>
          </a>
          <% if (post.subtitle) { -%>
            <br>
            <small><%- post.subtitle -%></small>
          <% } -%>
        </h3>
        <p><%= post.excerpt %></p>
      </div>
    </li>
  <% });
     if (page.posts.length > page_size) { -%>
    </noscript>
  <% } -%>
  </ul>
  <script>
    (function () {
      function showNextPage(ul) {
        var noscript = ul.querySelector('noscript'), // the first noscript
            parser = document.createElement('div'), // a temporary element to parse the content of the noscript
            li;
        parser.innerHTML = noscript.innerHTML; // parse the pages
        while (li = parser.querySelector('li')) { // for each parse li tag
          li.remove(); // remove it from the parser
          ul.insertBefore(li, noscript); // insert it before the noscript
        }
        noscript.remove(); // remove the noscript
      }
      if (document.querySelector("ul.posts noscript")) {
        more_container = document.createElement('li');
        more_container.className = "more";
        more = document.createElement('button');
        more.innerHTML = "More Posts";
        more.addEventListener('click', function () {
          showNextPage(document.querySelector("ul.posts"));
          if (!document.querySelector("ul.posts noscript")) {
            more_container.remove();
          }
        });
        more_container.appendChild(more);
        document.querySelector("ul.posts").appendChild(more_container);
      }
    })();
  </script>
  <footer>
    <% if (config.social) { -%>
    <div class="social">
      <% if (config.social.Twitter) { -%>
      <a rel="external" href="https://twitter.com/<%= config.social.Twitter %>" target="_blank">
        <img src="<%= url_for('/images/twitter.png') %>" alt="Twitter">
      </a>
      <% } -%>
      <% if (config.social.Instagram) { -%>
      <a rel="external" href="https://www.instagram.com/<%= config.social.Instagram %>" target="_blank">
        <img src="<%= url_for('/images/instagram.png') %>" alt="Instagram">
      </a>
      <% } -%>
      <% if (config.social.YouTube) { -%>
      <a rel="external" href="https://www.youtube.com/user/<%= config.social.YouTube %>" target="_blank">
        <img src="<%= url_for('/images/youtube.png') %>" alt="YouTube">
      </a>
      <% } -%>
      <% if (config.social.LinkedIn) { -%>
      <a rel="external" href="https://linkedin.com/in/<%= config.social.LinkedIn %>" target="_blank">
        <img src="<%= url_for('/images/linkedin.png') %>" alt="LinkedIn">
      </a>
      <% } -%>
      <% if (config.social.GoogleScholar) { -%>
      <a rel="external" href="https://scholar.google.pt/citations?user=<%= config.social.GoogleScholar %>" target="_blank">
        <img src="<%= url_for('/images/google_scholar.png') %>" alt="Google Scholar">
      </a>
      <% } -%>
      <% if (config.social.DBLP) { -%>
      <a rel="external" href="https://dblp.org/pers/hd/b/<%= config.social.DBLP %>" target="_blank">
        <img src="<%= url_for('/images/dblp.png') %>" alt="DBLP">
      </a>
      <% } -%>
    </div>
    <% } -%>
    <br>
    <div class="copyright">
      © <%= date(Date.now(), 'YYYY') %> Alessia Sorbo.
      Powered by <a href="http://hexo.io/" title="Hexo" target="_blank" rel="noopener">Hexo</a>
      <br>
      <br>
      <a href="/privacy-policy">Privacy Policy</a>
    </div>
  </footer>
</body>
