<head>
<%- partial('partial/metadata', {
      config: config,
      theme: theme,
      title: page.title,
      subtitle: page.subtitle,
      thumbnail: page.featured_image,
      canonical: page.path
    }) -%>
<%- partial('partial/pre_body_scripts') -%>
</head>
<body class="post">
  <header>
    <%- partial('partial/home_button', {}, {cached: true}) -%>
    <h1><%- page.title -%></h1>
    <%- partial('partial/theme_switcher', {}, {cached: true}) -%>
  </header>
  <div class="content">
  <%- page.content -%>
  </div>
  <%- partial('partial/post_body_scripts') -%>
</body>
