<body class="post">
  <header>
    <% if (page.featured_image) { -%>
      <div class="background" style="background-image: url(&quot;<%= page.featured_image %>&quot;)"></div>
    <% } -%>
    <%- partial('partial/home_button', {}, {cached: true}) -%>
    <% if (page.subtitle) { -%>
      <h1><%- page.title -%><br><small><%- page.subtitle -%></small></h1>
    <% } else { -%>
      <h1><%- page.title -%></h1>
    <% } -%>
    <%- partial('partial/theme_switcher', {}, {cached: true}) -%>
  </header>
  <div class="content">
  <%- page.content -%>
  <% if (page.author || config.author) { -%>
  <blockquote class="sign">
    <p>
      <%= page.author || config.author %><br>
      <i><small><%= date(page.date) %></small></i>
    </p>
  </blockquote>
  <% } -%>
  </div>
  <footer>
    <%- partial('partial/social', {}, {cached: true}) -%>
    <br>
    <a rel="license,noopener" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
      <img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/by/4.0/88x31.png">
    </a>
    <br>
    This work is licensed under a <a rel="license,noopener" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a>.
    <br>
    <br>
    <a href="/privacy-policy">Privacy Policy</a>
  </footer>
</body>
