<ul class="posts">
<% var page_size = config.per_page_dynamic || 5;
  page.posts.each(function (post, index) {
    if (index !== 0 && index % page_size === 0) {
      if (index !== page_size) { -%>
        </noscript>
      <%  } -%>
  <noscript>
<%  } -%>
  <li class="post">
    <a class="cover" href="<%= url_for(post.link || post.path) %>" title="<%= post.title %>">
      <img src="<%= post.featured_image %>">
    </a>
    <div class="details">
      <p><%= date(post.date) %></p>
      <h3 class="title">
        <a href="<%= url_for(post.link || post.path) %>" title="<%= post.title %>">
          <%= post.title %>
        </a>
        <% if (post.subtitle) { -%>
          <br>
          <small><%- post.subtitle -%></small>
        <% } -%>
      </h3>
      <p><%= post.excerpt %></p>
    </div>
  </li>
<% });
   if (page.posts.length > page_size) { -%>
  </noscript>
<% } -%>
</ul>
<script>
  (function () {
    function showNextPage(ul) {
      var noscript = ul.querySelector('noscript'), // the first noscript
          parser = document.createElement('div'), // a temporary element to parse the content of the noscript
          li;
      parser.innerHTML = noscript.innerHTML; // parse the pages
      while (li = parser.querySelector('li')) { // for each parse li tag
        li.remove(); // remove it from the parser
        ul.insertBefore(li, noscript); // insert it before the noscript
      }
      noscript.remove(); // remove the noscript
    }
    if (document.querySelector("ul.posts noscript")) {
      (function () {
        more_container = document.createElement('li');
        more_container.className = "more";
        more = document.createElement('button');
        more.innerHTML = "More Posts";
        more.addEventListener('click', function () {
          showNextPage(document.querySelector("ul.posts"));
          if (!document.querySelector("ul.posts noscript")) {
            more_container.remove();
          }
        });
        more_container.appendChild(more);
        document.querySelector("ul.posts").appendChild(more_container);
      })();
    }
  })();
</script>
